<!DOCTYPE html>

<html>

<head>
    <title>Stonks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <br>
    <div class="container">
        <h3><%= viewTitle %></h3>
        <br>
        <form action="/stock" method="POST" autocomplete="off">
            <% if(typeof stock !== 'undefined') { %>
                <input type="hidden" name="_id" value="<%= stock._id %>">
            <% } else { %>
                <input type="hidden" name="_id" value="">
            <% } %>
            <div class="form-group">
                <label>Stock Name</label>
                <% if(typeof stock !== 'undefined') { %>
                    <input type="text" class="form-control" name="stockName" placeholder="Stock Name" value="<%= stock.stockName %>">
                <% } else { %>
                    <input type="text" class="form-control" name="stockName" placeholder="Stock Name">
                <% } %>   
            </div>

            <div class="form-group">
                <label>Stock Exchange</label>
                <% if(typeof stock !== 'undefined') { %>
                    <input type="text" class="form-control" name="stockExchange" placeholder="Stock Exchange" value="<%= stock.stockExchange %>">
                <% } else { %>
                    <input type="text" class="form-control" name="stockExchange" placeholder="Stock Exchange">
                <% } %>      
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Buy Price</label>
                    <% if(typeof stock !== 'undefined') { %>
                        <input type="text" class="form-control" name="buyPrice" placeholder="Buy Price" value="<%= stock.buyPrice %>">
                    <% } else { %>
                        <input type="text" class="form-control" name="buyPrice" placeholder="Buy Price">
                    <% } %>
                </div>

                <div class="form-group col-md-6">
                    <label>Quantity</label>
                    <% if(typeof stock !== 'undefined') { %>
                        <input type="text" class="form-control" name="quantity" placeholder="Quantity" value="<%= stock.quantity %>">
                    <% } else { %>
                        <input type="text" class="form-control" name="quantity" placeholder="Quantity">
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" href="/stock/list">View All</a>
            </div>
        </form>
    </div>
</body>

</html>